@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body 
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: auto;
    font-size: 18px;
#app 
    height: 100%;
    display: grid;
    place-items: center; 

.home-container 
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow:hidden;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    height: 100vh;
form 
    display: grid;
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    button 
        justify-self: end;
        margin: 0px;
        border-radius: 5px;
        @media screen and (max-width: 600px) 
            position: relative;
            margin: 10px 0;
    p  
    input 
        width: 100%;
        height: 50px;
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 18px;
        margin: 10px;

button 
    height: 40px;
    width: 150px;
    margin: 5px 0;
    float: right;
    cursor: pointer;
    background: #00b2d8;
    color: white;
    border: 0px;
    font-weight: bold;
    font-size: 1.5 rem;
    text-transform: uppercase;
    transition: .3s;
    &:hover 
        background: hotpink;
        transition: .3s;

