.column-container
    padding: 30px 15px;
    background-image: linear-gradient(to bottom, #f1f1f1, #eaeaea, #e3e3e3, #dcdcdc, #d5d5d5);
    h2 
        letter-spacing: 2px;
        padding: 10px;
        border-bottom: 1px dotted lightgray;
        background: rgba(255, 255, 255, 0.5);
    button
        background: white;
    textarea 
        border-radius: 0px;
        width: 100%;
        height: 50px;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid white;
        box-sizing: border-box;
        border-radius: 2px;
    textarea::placeholder
        font-family: Arial, Helvetica, sans-serif;
    textarea:focus-visible
        outline: 0px;
        box-shadow: 13px 3px 30px rgba(0, 0, 0, 0.2);


.tabs-container 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 10px;
    overflow: auto;
    @media screen and (max-width: 768px) 
        max-width: 300px;
        grid-gap: 1px;
    .tab 
        padding: 15px;
        color: white;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        width: 150px;
        border-radius: 15px 15px 0 0;
        @media screen and (max-width: 768px)
            padding: 5px;
            width: auto;
            border-radius: 5px 5px 0 0;
    
.listeningContainer 
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    .listen 
        width: 100%;
        padding: 10px;
        display: block;
        color: #323232;
        font-size: 16px;
        letter-spacing: 3px;
    span 
        padding: 10px;
        box-sizing: border-box;
    span.sayThis
        color: white;
        font-weight: 800;
    .active 
        animation: pulse 5s ease-out infinite;
        width: 100%;
        display: block;
        padding: 5px;


.col-START
    border-top: 13px solid #1CBAFF;
    button 
        color: #00B0FF
    textarea::placeholder
        color: #0071a4
.col-STOP
    border-top: 13px solid #FF476D;
    button
        color: #FF476D
    textarea::placeholder 
        color: #FF476D
.col-CONTINUE
    border-top: 13px solid #04C47D;
    button 
        color: #04C47D
    textarea::placeholder 
        color: #00B975

.bg-START
    background-image: linear-gradient(to bottom, #75cdf5, #65c8f7, #52c4fa, #3dbffc, #1cbaff);
.bg-STOP
    background-image: linear-gradient(to bottom, #ff7793, #ff6c8a, #ff6181, #ff5577, #ff476d);
.bg-CONTINUE
    background-image: linear-gradient(to bottom, #13e497, #10dc90, #0cd48a, #08cc83, #04c47d);


@keyframes pulse 
    0% 
        background-color: #606060;
    50%
        background-color: #2f2f2f;
    100%
        background-color: #606060;
