.main-container 
    width: 100%;
    font-size: 1.2rem;
    padding: 5px;
    box-sizing: border-box;
    top: 0px;
    display: grid;
    grid-gap: 10px;
    align-items: start;
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;

    z-index: 2;
    @media screen and (min-width: 1040px) 
       display: grid;
       padding: 30px;

.navigation-container 
    .active 
        background: hotpink;

.chat-container
    counter-reset: item-counter;
    column-gap: 10px;
    row-gap: 10px;
    columns: 3
    @media screen and (max-width: 600px) 
        display: grid;
        columns: 1;
    .message 
        display: inline-flex;
        margin: 0px;
        padding: 10px;
    p 
        break-inside: avoid;
        padding: 10px 40px 10px 10px;
        font-size: 1rem;
        color: #656565;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        border-radius: 15px;
        border: 1px solid white;
        line-height: 1.5rem;
        
    .img-container 
        display: flex;
        position: relative;
        break-inside: avoid;
        padding: 5px;
        border: 1px solid #ccc;
        margin: 5px;
        border-radius: 5px;
        strong 
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 2;
            background: rgba(255, 255, 255, 0.8);
            width: auto;
            box-sizing: border-box;
            padding: 15px;
            border-radius: 20%;
    img 
        display: flex;
        width: 100%;
        overflow: hidden;
        padding: 5px;
        object-fit: cover;
    .chat
        position: relative;
        span 
            position: absolute;
            right: 5px;
            top: 5px;
            width: 30px;
            height: 30px;
            color: #ff7474;
            cursor: pointer;
            display: grid;
            place-items: center;
            background: white;
            border-radius: 50%;
            place-content: center;


.clear 
    position: fixed;
    bottom: 0px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

.upvote
    border: 1px solid white;
    width: 30px;
    height: 30px
    display: flex;
    place-content: center;
    border-radius: 50%;
    color: white;
    font-family: monospace;
    place-items: center;
    background: gray;
    font-weight: 800;
    padding: 0
    margin: 0

.pointer 
    cursor: pointer;